@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);

body {
    font-style: normal;
    font-size: 15px;

}

.btn{
    color: #0A6FFD;
    border-color: #0A6FFD;
}


.signup{
    border: none;
    background-color: unset;
}


img.pizza {
    position: relative;
    left: 400px;
    max-width: 800px;
}
.form-control {
    align-content: flex-start;
    padding-right: 120px;
    justify-content: space-evenly;
}
.navbar{
    justify-content: space-evenly;
}
.container.hero {
    background-image: url("../img/pizza.jpg");
    min-height: 40dvh;
    background-repeat: no-repeat;
    position: relative;
    left: 300px;
}
p {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    top: 200px;
    left: 0;
    width: 780px;
    height: 50px;

}
.pizza-header{
    opacity: 50%;
}

.bi-1-circle-fill{
    color: grey;
}
.bi-2-circle-fill {
    color: grey;
}
.bi-3-circle-fill{
    color: grey;
}

#home-tab-pane{
    border: 1px solid black;
    height: 32px;
    color: white;
    width: 60rem;

}

#profile-tab-pane {
    border: 1px solid black;
    height: 32px;
    padding-bottom: 10px;
    width: 78rem;
    background-color:#0A6FFD;
    color: white;
}
#contact-tab-pane {
    border: 1px solid black;
    height: 32px;
    padding-bottom: 10px;
    width: 81rem;
    background-color: #0A6FFD;
    color: white;
}


.btn-primary {
    color: white;
    background-color: #0A6FFD;
    position: relative;
    left: 1120px;

}
.btn-secondary {
    color: white;
    background-color: #0A6FFD;
    position: relative;
    left: 1180px;
}
.btn-third {
    color: white;
    background-color:#0A6FFD ;
    position: relative;
    left: 1170px;
}
.card-top{
    height: 30px;
    background-color: #0A6FFD;
    border-radius: 5px;
}

